@{
    ViewData["Title"] = "Distribuidor Nacional";
}

<div class="container pt-3">
    <h1 class="text-primary">Distribuidores Nacionales</h1>

    <div class="distribuidor">
        <h2>San Fernando</h2>
        <div>
            <img src="https://corporativo.sanfernando.pe/wp-content/plugins/plugin-generar-escudo/assets/img/escudo-con-su-punche.png">
        </div>
        <p>
            <strong>Somos SAN FERNANDO S.A.</strong>, una empresa peruana líder
            en el mercado nacional, con 70 años de experiencia en el mercado avícola y elaborados.
        </p>
        <p>
            <strong>Sitio web:</strong> <a href="https://sanfernando.pe/">https://sanfernando.pe/</a>
        </p>
        <p>
            <strong>Teléfono:</strong> (01) 213-5300.
        </p>
        <p>
            <strong>Dirección:</strong> Av. Guardia Peruana, 990, Chorrillos, Peru.
        </p>
    </div>
</div>