@{
    ViewData["Title"] = "Distribuidor Internacional";
}

<div class="container pt-3">
    <h1 class="text-primary">Distribuidores Internacionales</h1>

    <div class="distribuidor">
        <h2>Nestle</h2>
        <div>
            <img src="https://enalimentos.lat/images/noticias/2021-02/nestlenuevo.jpg">
        </div>
        <p>
            <strong>Nestlé S.A.</strong> (pronunciación en francés: /nɛsle/) es una empresa multinacional
            suiza de alimentos y bebidas con sede en la ciudad suiza de Vevey.
        </p>
        <p>
            <strong>Sitio web:</strong> <a href="https://www.nestle.com.pe/">https://www.nestle.com.pe/</a>
        </p>
        <p>
            <strong>Teléfono:</strong> 0800-10-2-10
        </p>
        <p>
            <strong>Dirección:</strong> Cal. Luis Galvani Nro. 493 - Lima, Perú
        </p>
    </div>
</div>

